In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../data/ESI_raw.csv', encoding='cp949')

df.head()

,계정코드별,2024.12,2024.11,2024.10,2024.09,2024.08,2024.07,2024.06,2024.05,2024.04,...,2015.10,2015.09,2015.08,2015.07,2015.06,2015.05,2015.04,2015.03,2015.02,2015.01
0,경제심리지수(원계열),83.3,93.0,92.8,94.0,94.5,96.3,95.0,94.1,94.8,...,97.5,97.0,97.3,95.7,91.6,102.2,103.7,101.3,103.1,98.5
1,경제심리지수(순환변동치),90.1,91.2,92.2,92.9,93.4,93.7,93.7,93.6,93.5,...,96.5,96.9,97.3,97.6,98.0,98.4,98.9,99.1,99.3,99.3

In [ ]:
import pandas as pd


# 2. '계정코드별' 컬럼을 인덱스로 설정
df.set_index('계정코드별', inplace=True)

# 3. 전치(transpose)하여 날짜를 행으로 만들기
df = df.T

# 4. 인덱스 이름 변경 (선택)
df.index.name = '날짜'

# 5. 숫자형으로 변환 (필요시)
df = df.apply(pd.to_numeric, errors='coerce')

KeyError: "None of ['계정코드별'] are in the columns"

In [14]:

df.head()

계정코드별    경제심리지수(원계열)  경제심리지수(순환변동치)
날짜
2024.12         83.3           90.1
2024.11         93.0           91.2
2024.10         92.8           92.2
2024.09         94.0           92.9
2024.08         94.5           93.4

In [15]:
# 4. 날짜 포맷 변경 (예: '2024.12' → datetime 형태)
df.index = pd.to_datetime(df.index, format='%Y.%m')

# 5. 지수 컬럼 숫자형으로 변환
df = df.apply(pd.to_numeric, errors='coerce')

In [16]:
df.head()

계정코드별       경제심리지수(원계열)  경제심리지수(순환변동치)
날짜
2024-12-01         83.3           90.1
2024-11-01         93.0           91.2
2024-10-01         92.8           92.2
2024-09-01         94.0           92.9
2024-08-01         94.5           93.4

In [17]:
df.to_csv('ESI.csv')